.homeContainer {
  background-image: url("../img/fm1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 900px;
  bottom: 30px;
  /* z-index: -1; */
}

.storeImg {
  height: 20%;
}

.shop {
  margin: 100px;
  background-image: url("../img/store2.png");
  height: 180px;
  width: 180px;
  background-repeat: no-repeat;
}

h3 {
  text-align: center;
  position: relative;
  right: 18px;
  top: 5px;
}

.row1 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 15%;
  top: -9%;
}

.row2 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 5%;
  top: 19%;
}

.row3 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 15%;
  top: 51%;
}

.shopBackground {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.pageContainer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100%;
  align-items: center;
}

.mesos {
  height: 30px;
  width: 30px;
}

.shopDiv {
  background-color: beige;
  margin: 10px;
  width: 400px;
  height: 500px;
  border: 4px solid beige;
  border-radius: 8px;
}

.sellingFormDiv {
  background-color: beige;
  margin: 10px;
  width: 500px;
  height: 600px;
  border: 4px solid beige;
  border-radius: 8px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: beige;
  color: black;
}

.employeeContainer {
  position: relative;
}

.employee {
  position: absolute;
  left: 7%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.shopButton {
  background-image: linear-gradient(rgb(207, 126, 61), rgb(222, 166, 133));
  text-align: center;
  width: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 222, 169);
  margin: 2px;
}

.shopItems {
  height: 420px;
  overflow-y: scroll;
  white-space: normal;
}

.userDiv {
  background-color: beige;
  margin: 10px;
  width: 350px;
  height: 500px;
  border: 4px solid beige;
  border-radius: 8px;
}

.userItems {
  height: 420px;
  overflow-y: scroll;
  white-space: normal;
}

.items {
  display: flex;
}

.itemPhoto {
  height: 60px;
  width: 60px;
  background-color: rgb(206, 206, 191);
}

.itemLeft {
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 2px;
}

.itemRight {
  width: 81%;
}

.itemName {
  background-color: rgba(165, 211, 248, 0.774);

  padding-bottom: 1px;
  margin: 2px;
  color: #000;
  height: 30px;
  font-size: large;
}

.price {
  background-color: rgba(165, 211, 248, 0.774);

  display: flex;
  height: 30px;
  padding-top: 1px;
  margin: 2px;
}

.priceText {
  position: relative;
  bottom: 13px;
  color: black;
}

.clickedColour {
  background-color: rgba(126, 164, 196, 0.774);
}

.itemDisplay {
  position: absolute;
  background-color: black;
  z-index: 9;
  margin-left: 30px;
  opacity: 0.85;
  background-color: rgb(83, 84, 132);
  width: 500px;
}

.mesos {
  padding-left: 5px;
}

p {
  padding-left: 5px;
}

.formFonts {
  color: #000;
}

.profileButton {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 105%;
  bottom: 175%;
  background-color: rgb(222, 166, 133);
  border: 5px solid rgb(175, 112, 45);
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.userNameContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 400px;
  right: 90%;
  bottom: 200%;
  /* background-color: rgb(222, 166, 133);
  border: 5px solid rgb(175, 112, 45); */
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.homepagePlayMusic {
  position: relative;
  top: 30px;
  left: 50px;
  z-index: 1;
}

.homepageStopMusic {
  position: relative;
  top: 30px;
  left: 60px;
  z-index: 1;
}
